<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>CCAS | Customer Call Analysis System</title>

    {{ dropzone.load_css() }} {{ dropzone.style('margin: 55px') }}
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static',
        filename="css/custom.css/") }}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" />
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>CCAS</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{{ url_for('upload') }}">Uploads</a>
                </li>
                <li id="result">
                    <a>Results</a>
                </li>
                <li id="cust">
                    <a>Customer Relation</a>
                </li>
                <li id="topic">
                    <a>Topic Analysis</a>
                </li>
                <li id="complaint">
                    <a>Complaints</a>
                </li>
                <li id="report">
                    <a>Report</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">DEMO</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="dynamic">
                <div>
                    <form action="/upload" method="post" class="dropzone" id="myDropzone" enctype="multipart/form-data">
                    </form>
                    <p>
                        <i>
                            <center>
                                *file will be processed in the background
                                after upload
                            </center>
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js">
    </script>

    {{ dropzone.load_js() }} {{ dropzone.config() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebarCollapse").on("click", function () {
                $("#sidebar, #content").toggleClass("active");
                $(".collapse.in").toggleClass("in");
                $("a[aria-expanded=true]").attr("aria-expanded", "false");
            });

            $("#result").click(function () {
                if (document.querySelector("#sidebar li.active") !== null) {
                    document
                        .querySelector("#sidebar li.active")
                        .classList.remove("active");
                }
                $("#dynamic").load("/results");
                $(this).addClass("active");
                window.history.pushState("page2", "Title", "/result");
            });

            $("#cust").click(function () {
                if (document.querySelector("#sidebar li.active") !== null) {
                    document
                        .querySelector("#sidebar li.active")
                        .classList.remove("active");
                }
                $("#dynamic").load("/customers");
                $(this).addClass("active");
                window.history.pushState("page2", "Title", "/customer");
            });

            $("#topic").click(function () {
                if (document.querySelector("#sidebar li.active") !== null) {
                    document
                        .querySelector("#sidebar li.active")
                        .classList.remove("active");
                }
                $("#dynamic").load("/topics");
                $(this).addClass("active");
                window.history.pushState("page2", "Title", "/topic");
            });

            $("#complaint").click(function () {
                if (document.querySelector("#sidebar li.active") !== null) {
                    document
                        .querySelector("#sidebar li.active")
                        .classList.remove("active");
                }
                $("#dynamic").load("/complaints");
                $(this).addClass("active");
                window.history.pushState("page2", "Title", "/complaint");
            });

            $("#report").click(function () {
                if (document.querySelector("#sidebar li.active") !== null) {
                    document
                        .querySelector("#sidebar li.active")
                        .classList.remove("active");
                }
                $("#dynamic").load("/report");
                $(this).addClass("active");
                window.history.pushState("page2", "Title", "/report");
            });
        });
    </script>
</body>

</html>